<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoolFlix</title>
    <!-- Style.css -->
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    
    <div id="app">
        <header id="site_header">
            <label for="search"></label>
            <input type="text" id="search" v-model="query"placeholder="Cerca un titolo">
            <button @click="cercaFilm">Cerca</button>
        </header>
        <main>
            <div id="films" class="d_flex">
                <div class="film d_flex d_column" v-for="film in films">
                    <h2>{{film.title}}</h2>
                    <h3 v-if="film.title!=film.original_title">{{film.original_title}}</h3>                  
                    <img v-if="film.original_language=='en'" :src="ImgUrl+'gb/flat/64.png'" width="50px"alt="">
                    <img v-if="film.original_language=='da'" :src="ImgUrl+'dk/flat/64.png'" width="50px" alt="">
                    <img v-if="film.original_language=='ja'" :src="ImgUrl+'jp/flat/64.png'" width="50px" alt="">
                    <img v-else :src="ImgUrl+film.original_language+'/flat/64.png' " width="50px"alt="">
                    <span>{{film.vote_average}}</span>
                </div>
            </div>
        </main>
    </div>

    <!-- Vue Js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- main Js -->
    <script src="./assets/js/main.js"></script>
</body>
</html>