* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.d_flex {
  display: flex;
}
.d_column {
  flex-direction: column;
}
h2 {
  text-align: center;
}
#site_header {
  text-align: center;
  padding: 1.5rem;
}

#films,
#serie_tv {
  flex-wrap: wrap;
  justify-content: center;
}

.film,
.serie {
  padding: 1rem;
  margin: 0.5rem;
  width: 150px;
  background-color: bisque;
  text-align: center;
}

/* RATING STARS */
.rating_stars .far {
  color: grey;
}

.rating_stars .fas {
  color: yellow;
}
